    body {
      margin: 0;
      padding: 0;
      background-color: #0c0b09;
    }

    h1, h2, h3, h4, h5, h6 {
      font-family: "Open Sans", sans-serif;
    }

    #map {
      position: absolute;
      top: 127px;
      bottom: 0;
      width: 100%;
    }

    .photo {
      width: auto;
      height: 420px;
      padding: 5px;
    }
    .photoRefernce{
      flex: 0 0 auto;
      margin-right: auto;
      margin-left: auto;
    }

    /* Popup styling */

    .mapboxgl-popup {
      padding-bottom: 5px;
    }

    .mapboxgl-popup-close-button {
      display: none;
    }

    .mapboxgl-popup-content {
      font: 400 15px/22px 'Open Sans', Sans-serif;
      padding: 0;
      width: 250px;
      border-radius: 5px;
    }

    .mapboxgl-popup-content-wrapper {
      padding: 1%;
    }

    .mapboxgl-popup-content h3 {
      background: rgb(61, 59, 59);
      text-align: center;
      color: #fff;
      margin: 0;
      display: block;
      padding: 15px;
      font-weight: 700;
      margin-top: -5px;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
    }

    .mapboxgl-popup-content p {
      margin: 0;
      display: block;
      padding: 10px 3px 10px 10px;
    }

    .mapboxgl-container {
      cursor: pointer;
    }

    .mapboxgl-popup-anchor-top>.mapboxgl-popup-content {
      margin-top: 3px;
    }

    .mapboxgl-popup-anchor-top>.mapboxgl-popup-tip {
      border-bottom-color: rgb(61, 59, 59);
    }

    /* modal css */
    .modalDialog {
      position: fixed;
      font-family: Arial, Helvetica, sans-serif;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.8);
      z-index: 99999;
      opacity: 0;
      -webkit-transition: opacity 400ms ease-in;
      -moz-transition: opacity 400ms ease-in;
      transition: opacity 400ms ease-in;
      pointer-events: none;
    }

    .modalButton {
      background-color: black;
      border: none;
      color: white;
      padding: 6px 10px;
      border-radius: 5px;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin-left: 10px;
      margin-bottom: 10px;
    }

    .modalDialog:target {
      opacity: 1;
      pointer-events: auto;
    }

    .modalDialog>div {
      width: 95%;
      height: auto;
      position: relative;
      margin: 2% auto;
      padding: 0px;
      border-radius: 0px;
      background: #fff;
      background: -moz-linear-gradient(#fff, #999);
      background: -webkit-linear-gradient(#fff, #999);
      background: -o-linear-gradient(#fff, #999);
    }

    iframe {
      width: 100% !important;
      height: 30rem !important;
      margin-right: auto;
      margin-left: auto;
    }

    .modal-header {
      background: rgb(61, 59, 59);
      text-align: center;
      color: #fff;
      margin: 0;
      display: block;
      padding: 1px;
      font-weight: 700;
    }

    .close {
      background: #606061;
      color: #FFFFFF;
      line-height: 25px;
      position: absolute;
      right: -12px;
      text-align: center;
      top: -10px;
      width: 24px;
      text-decoration: none;
      font-weight: bold;
      -webkit-border-radius: 12px;
      -moz-border-radius: 12px;
      border-radius: 12px;
      -moz-box-shadow: 1px 1px 3px #000;
      -webkit-box-shadow: 1px 1px 3px #000;
      box-shadow: 1px 1px 3px #000;
    }

    .close:hover {
      background: #00d9ff;
    }

    .img-box {
      display: flex;
      overflow: auto;
      flex-wrap: nowrap;
    }
    .vid {
      margin-right: auto;
      margin-left: auto;
    }
    .audio{
      margin-right: auto;
      margin-left: auto;
    }

    h1 {
      margin-top: 10px;
      margin-bottom: 15px;
      font-size: 38px;
      color: #fff;
      font-family: "Open Sans", sans-serif;
    }

    h1 span {
      color: #cda45e;
    }
    
    h2 {
      color: #eee;
      margin-bottom: 10px 0 0 0;
      font-size: 22px;
    }

    @media only screen and (max-width: 768px) {
      .modalDialog>div {
        width: 300px;
        margin: 5% auto;
      }

      iframe {
        width: 295px !important;
      }

      h2 {
       font-size: 20px;
       margin-bottom: 0px;
      }

    }
    